* text=auto

/demos/thirdparty/** -whitespace

# In patches, a context line is prefixed by a space, and if it's empty,
# that space becomes a trailing space. That's a valid use for trailing spaces,
# so allow it.
*.patch whitespace=-blank-at-eol

.editorconfig -omz.package
.flake8 -omz.package
.git* -omz.package
.yamllint -omz.package
/ci/** -omz.package
/demos/build_demos.sh omz.package=l,m
/demos/build_demos_msvc.bat omz.package=w
/demos/tests/** -omz.package
/tools/downloader/tests/** -omz.package

* omz.package.component=dev
/LICENSE omz.package.component=tools
/data/dataset_definitions.yml omz.package.component=tools
/models/**/*.py omz.package.component=tools
/models/**/*.yml omz.package.component=tools
/tools/**/* omz.package.component=tools

/ci/dependencies.yml omz.ci.job-for-change.ac omz.ci.job-for-change.demos omz.ci.job-for-change.models

/ci/requirements-ac.txt omz.ci.job-for-change.ac
/ci/requirements-ac-test.txt omz.ci.job-for-change.ac
/ci/requirements-conversion.txt omz.ci.job-for-change.demos omz.ci.job-for-change.models
/ci/requirements-demos.txt omz.ci.job-for-change.demos
/ci/requirements-downloader.txt omz.ci.job-for-change.demos omz.ci.job-for-change.models
/ci/requirements-quantization.txt omz.ci.job-for-change.downloader

/demos/** omz.ci.job-for-change.demos

/tools/accuracy_checker/** omz.ci.job-for-change.ac
/tools/accuracy_checker/configs/*.yml -omz.ci.job-for-change.ac
/tools/downloader/** omz.ci.job-for-change.downloader

*.md omz.ci.job-for-change.documentation -omz.ci.job-for-change.ac -omz.ci.job-for-change.demos -omz.ci.job-for-change.downloader
