* text=auto

/demos/thirdparty/** -whitespace

# In patches, a context line is prefixed by a space, and if it's empty,
# that space becomes a trailing space. That's a valid use for trailing spaces,
# so allow it.
*.patch whitespace=-blank-at-eol

.bandit -omz.package
.editorconfig -omz.package
.flake8 -omz.package
.git* -omz.package
.yamllint -omz.package
/ci/** -omz.package
/demos/build_demos.sh omz.package=l,m
/demos/build_demos_msvc.bat omz.package=w
/demos/tests/** -omz.package
/tools/model_tools/tests/** -omz.package

* omz.package.component=dev
/LICENSE omz.package.component=tools
/data/dataset_definitions.yml omz.package.component=tools
/models/**/*.py omz.package.component=tools
/models/**/*.yml omz.package.component=tools
/tools/**/* omz.package.component=tools

/ci/dependencies.yml omz.ci.job-for-change.ac omz.ci.job-for-change.demos omz.ci.job-for-change.models

/demos/** omz.ci.job-for-change.demos

/tools/accuracy_checker/** omz.ci.job-for-change.ac
/tools/accuracy_checker/configs/*.yml -omz.ci.job-for-change.ac
/tools/model_tools/** omz.ci.job-for-change.downloader

*.md omz.ci.job-for-change.documentation -omz.ci.job-for-change.ac -omz.ci.job-for-change.demos -omz.ci.job-for-change.downloader

/models/intel/device_support.md omz.ci.job-for-change.demos
/models/public/device_support.md omz.ci.job-for-change.demos
