# progress bar
tqdm>=4.54.1

# image reading and preprocessing
# nncf's upperbound: https://github.com/openvinotoolkit/nncf/blob/1de67217adf60a29afa310edf4a5f4d36314446a/setup.py#L104
networkx<=2.8.2
scikit-image>=0.19.2

imagecodecs~=2022.2.22;python_version=="3.8" or python_version=="3.9"
imagecodecs~=2023.3.16;python_version>="3.11"

# reid
scikit-learn>=0.24.1;python_version<"3.11"
scikit-learn>=1.2.0;python_version>="3.11"

# cpu extension usage
py-cpuinfo>=7.0.0

# text detection
shapely>=1.7.1
pyclipper>=1.2.1

# brain tumor segmentation
nibabel>=3.2.1
# nncf's upperbound: https://github.com/openvinotoolkit/nncf/blob/a8af39627647ddbb89ef33cf42ff42e9c048b981/setup.py#L106
scipy>=1.5.4

# dicom images reading
pydicom>=2.1.2

# nlp, tokenization
sentencepiece>=0.1.95
tokenizers>=0.10.1
transformers>=4.5

nltk>=3.5

# DNA sequence matching
parasail>=1.2.4;platform_system!="Windows"
parasail~=1.2.4;platform_system=="Windows"
fast-ctc-decode>=0.2.5;python_version<"3.11"

# raw image formats processing
rawpy~=0.17.1

# lmdb dataset support
lmdb>=1.2.1

# pandas datasets support
pandas>=1.1.5,<2.1
