# progress bar
tqdm

# image reading and preprocessing
pillow>=2.6.1
scikit-image

# reid
scikit-learn

# pipelining mode
yamlloader

# cpu extension usage
py-cpuinfo<=4.0

# text detection
shapely

# brain tumor segmentation
nibabel
scipy

# dicom images reading
pydicom

# nlp, tokenization
sentencepiece
tokenizers

# editdistance calculation
editdistance
