editdistance==0.5.3
joblib==0.14.1            # via scikit-learn
nibabel==3.0.1
numpy==1.17.5             # via nibabel, scikit-learn, scipy
pillow==7.0.0
py-cpuinfo==4.0.0
pyyaml==5.3               # via yamlloader
scikit-learn==0.22.1
scipy==1.4.1
sentencepiece==0.1.85
shapely==1.7.0
tqdm==4.42.1
yamlloader==0.5.5
