# use update-requirements.py to update this file

addict==2.4.0
    # via openvino-dev
appdirs==1.4.4
    # via pooch
audioread==3.0.0
    # via librosa
certifi==2022.9.24
    # via requests
cffi==1.15.1
    # via soundfile
charset-normalizer==2.0.12
    # via requests
click==8.1.3
    # via nltk
cycler==0.11.0
    # via matplotlib
decorator==5.1.1
    # via librosa
defusedxml==0.7.1
    # via openvino-dev
fast-ctc-decode==0.3.2
    # via openvino-dev
filelock==3.8.1
    # via
    #   huggingface-hub
    #   transformers
fonttools==4.38.0
    # via matplotlib
grpcio==1.47.0
    # via ovmsclient
huggingface-hub==0.11.1
    # via transformers
idna==3.4
    # via requests
imagecodecs==2022.2.22
    # via openvino-dev
imageio==2.22.4
    # via scikit-image
importlib-metadata==5.1.0
    # via numba
inflect==6.0.2
    # via -r demos/requirements.txt
joblib==1.2.0
    # via
    #   librosa
    #   nltk
    #   scikit-learn
jstyleson==0.0.2
    # via openvino-dev
kiwisolver==1.4.4
    # via matplotlib
librosa==0.9.2
    # via -r demos/requirements.txt
llvmlite==0.39.1
    # via numba
lmdb==1.3.0
    # via openvino-dev
matplotlib==3.5.3
    # via -r demos/requirements.txt
motmetrics==1.2.5
    # via -r demos/requirements.txt
mpmath==1.2.1
    # via sympy
networkx==2.8
    # via
    #   openvino-dev
    #   scikit-image
nibabel==4.0.2
    # via
    #   -r demos/requirements.txt
    #   openvino-dev
nltk==3.7
    # via openvino-dev
numba==0.56.4
    # via
    #   librosa
    #   resampy
numpy==1.23.1
    # via
    #   -r demos/common/python/requirements.txt
    #   -r demos/requirements.txt
    #   imagecodecs
    #   imageio
    #   librosa
    #   matplotlib
    #   motmetrics
    #   nibabel
    #   numba
    #   opencv-python
    #   openvino
    #   openvino-dev
    #   ovmsclient
    #   pandas
    #   parasail
    #   pywavelets
    #   rawpy
    #   resampy
    #   scikit-image
    #   scikit-learn
    #   scipy
    #   tensorboardx
    #   tifffile
    #   transformers
opencv-python==4.6.0.66
    # via
    #   -r demos/common/python/requirements.txt
    #   -r demos/requirements.txt
    #   openvino-dev
openvino==2022.2.0
    # via openvino-dev
openvino-dev==2022.2.0
    # via -r ${INTEL_OPENVINO_DIR}/tools/requirements.txt
openvino-telemetry==2022.1.2
    # via openvino-dev
ovmsclient==2022.2
    # via -r demos/common/python/requirements_ovms.txt
packaging==21.3
    # via
    #   huggingface-hub
    #   librosa
    #   matplotlib
    #   nibabel
    #   pooch
    #   scikit-image
    #   transformers
pandas==1.1.5
    # via
    #   motmetrics
    #   openvino-dev
parasail==1.3.3
    # via openvino-dev
pillow==9.3.0
    # via
    #   -r demos/requirements.txt
    #   imageio
    #   matplotlib
    #   openvino-dev
    #   scikit-image
pooch==1.6.0
    # via librosa
progress==1.6
    # via openvino-dev
protobuf==3.20.1
    # via
    #   ovmsclient
    #   tensorboardx
py-cpuinfo==9.0.0
    # via openvino-dev
pyclipper==1.3.0.post4
    # via openvino-dev
pycparser==2.21
    # via cffi
pydantic==1.10.2
    # via inflect
pydicom==2.3.1
    # via openvino-dev
pyparsing==2.4.7
    # via
    #   -r demos/requirements.txt
    #   matplotlib
    #   packaging
python-dateutil==2.8.2
    # via
    #   matplotlib
    #   pandas
pytz==2022.6
    # via pandas
pywavelets==1.4.1
    # via scikit-image
pyyaml==6.0
    # via
    #   -r demos/requirements.txt
    #   huggingface-hub
    #   openvino-dev
    #   transformers
rawpy==0.17.3
    # via openvino-dev
regex==2022.10.31
    # via
    #   nltk
    #   transformers
requests==2.27.1
    # via
    #   huggingface-hub
    #   openvino-dev
    #   openvino-telemetry
    #   ovmsclient
    #   pooch
    #   transformers
resampy==0.4.2
    # via librosa
scikit-image==0.19.3
    # via openvino-dev
scikit-learn==0.24.2
    # via
    #   -r demos/requirements.txt
    #   librosa
    #   openvino-dev
scipy==1.5.4
    # via
    #   -r demos/common/python/requirements.txt
    #   -r demos/requirements.txt
    #   librosa
    #   motmetrics
    #   openvino-dev
    #   scikit-image
    #   scikit-learn
sentencepiece==0.1.97
    # via openvino-dev
shapely==1.8.5.post1
    # via openvino-dev
six==1.16.0
    # via
    #   grpcio
    #   python-dateutil
soundfile==0.11.0
    # via librosa
sympy==1.11.1
    # via -r demos/requirements.txt
tensorboardx==2.5.1
    # via -r demos/requirements.txt
texttable==1.6.7
    # via openvino-dev
threadpoolctl==3.1.0
    # via scikit-learn
tifffile==2022.10.10
    # via scikit-image
tokenizers==0.13.2 ; python_version >= "3.7"
    # via
    #   -r demos/requirements.txt
    #   openvino-dev
    #   transformers
tqdm==4.64.1
    # via
    #   -r demos/requirements.txt
    #   huggingface-hub
    #   nltk
    #   openvino-dev
    #   transformers
transformers==4.25.1
    # via openvino-dev
typing-extensions==4.4.0
    # via
    #   huggingface-hub
    #   pydantic
urllib3==1.26.13
    # via requests
xmltodict==0.13.0
    # via motmetrics
zipp==3.11.0
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# setuptools
