# use update-requirements.py to update this file

atomicwrites==1.4.1
    # via -r tools/accuracy_checker/requirements-test.in
attrs==22.1.0
    # via pytest
certifi==2022.12.7
    # via requests
charset-normalizer==2.1.1
    # via requests
click==8.1.3
    # via nltk
defusedxml==0.7.1
    # via -r tools/accuracy_checker/requirements-core.in
fast-ctc-decode==0.3.2
    # via -r tools/accuracy_checker/requirements-extra.in
filelock==3.8.1
    # via
    #   huggingface-hub
    #   transformers
huggingface-hub==0.11.1
    # via transformers
idna==3.4
    # via requests
imagecodecs==2022.2.22 ; python_version >= "3.8"
    # via -r tools/accuracy_checker/requirements-extra.in
imageio==2.22.4
    # via scikit-image
iniconfig==1.1.1
    # via pytest
joblib==1.2.0
    # via
    #   nltk
    #   scikit-learn
lmdb==1.3.0
    # via -r tools/accuracy_checker/requirements-extra.in
networkx==2.8 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   scikit-image
nibabel==4.0.2
    # via -r tools/accuracy_checker/requirements-extra.in
nltk==3.7
    # via -r tools/accuracy_checker/requirements-extra.in
numpy==1.23.1
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imagecodecs
    #   imageio
    #   nibabel
    #   pandas
    #   parasail
    #   pywavelets
    #   rawpy
    #   scikit-image
    #   scikit-learn
    #   scipy
    #   tifffile
    #   transformers
openvino-telemetry==2022.1.2
    # via -r tools/accuracy_checker/requirements-core.in
packaging==21.3
    # via
    #   huggingface-hub
    #   nibabel
    #   pytest
    #   scikit-image
    #   transformers
pandas==1.3.5
    # via -r tools/accuracy_checker/requirements-extra.in
parasail==1.3.3 ; platform_system != "Windows"
    # via -r tools/accuracy_checker/requirements-extra.in
pillow==9.3.0
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imageio
    #   scikit-image
pluggy==1.0.0
    # via pytest
py==1.11.0
    # via pytest
py-cpuinfo==9.0.0
    # via -r tools/accuracy_checker/requirements-extra.in
pyclipper==1.3.0.post4
    # via -r tools/accuracy_checker/requirements-extra.in
pydicom==2.3.1
    # via -r tools/accuracy_checker/requirements-extra.in
pyparsing==3.0.9
    # via packaging
pytest==7.0.1 ; python_version < "3.10"
    # via
    #   -r tools/accuracy_checker/requirements-test.in
    #   pytest-mock
pytest-mock==2.0.0
    # via -r tools/accuracy_checker/requirements-test.in
python-dateutil==2.8.2
    # via pandas
pytz==2022.6
    # via pandas
pywavelets==1.4.1
    # via scikit-image
pyyaml==6.0
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   huggingface-hub
    #   transformers
rawpy==0.17.3 ; python_version >= "3.7"
    # via -r tools/accuracy_checker/requirements-extra.in
regex==2022.10.31
    # via
    #   nltk
    #   transformers
requests==2.28.1
    # via
    #   huggingface-hub
    #   openvino-telemetry
    #   transformers
scikit-image==0.19.3 ; python_version >= "3.7"
    # via -r tools/accuracy_checker/requirements-extra.in
scikit-learn==0.24.2
    # via -r tools/accuracy_checker/requirements-extra.in
scipy==1.8.0
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   scikit-image
    #   scikit-learn
sentencepiece==0.1.97
    # via -r tools/accuracy_checker/requirements-extra.in
shapely==1.8.5.post1
    # via -r tools/accuracy_checker/requirements-extra.in
six==1.16.0
    # via python-dateutil
threadpoolctl==3.1.0
    # via scikit-learn
tifffile==2022.10.10
    # via scikit-image
tokenizers==0.13.2 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   transformers
tomli==2.0.1
    # via pytest
tqdm==4.64.1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   huggingface-hub
    #   nltk
    #   transformers
transformers==4.25.1 ; python_version >= "3.7"
    # via -r tools/accuracy_checker/requirements-extra.in
typing-extensions==4.4.0
    # via huggingface-hub
urllib3==1.26.13
    # via requests

# The following packages are considered to be unsafe in a requirements file:
# setuptools
