# use update-requirements.py to update this file

addict==2.4.0
    # via openvino-dev
appdirs==1.4.4
    # via pooch
audioread==3.0.0
    # via librosa
certifi==2023.5.7
    # via requests
cffi==1.15.1
    # via soundfile
charset-normalizer==3.1.0
    # via requests
contourpy==1.0.7
    # via matplotlib
cycler==0.11.0
    # via matplotlib
decorator==5.1.1
    # via librosa
defusedxml==0.7.1
    # via openvino-dev
fonttools==4.39.4
    # via matplotlib
grpcio==1.54.2
    # via ovmsclient
idna==3.4
    # via requests
importlib-metadata==6.6.0
    # via numba
importlib-resources==5.12.0
    # via
    #   matplotlib
    #   nibabel
inflect==6.0.4
    # via -r demos/requirements.txt
joblib==1.2.0
    # via
    #   librosa
    #   scikit-learn
jstyleson==0.0.2
    # via openvino-dev
kiwisolver==1.4.4
    # via matplotlib
lazy-loader==0.2
    # via librosa
librosa==0.10.0.post2 ; python_version < "3.11"
    # via -r demos/requirements.txt
llvmlite==0.40.0
    # via numba
matplotlib==3.7.1
    # via -r demos/requirements.txt
motmetrics==1.4.0
    # via -r demos/requirements.txt
mpmath==1.3.0
    # via sympy
msgpack==1.0.5
    # via librosa
networkx==2.8.8
    # via openvino-dev
nibabel==5.1.0
    # via -r demos/requirements.txt
numba==0.57.0
    # via librosa
numpy==1.23.1
    # via
    #   -r demos/common/python/requirements.txt
    #   -r demos/requirements.txt
    #   contourpy
    #   librosa
    #   matplotlib
    #   motmetrics
    #   nibabel
    #   numba
    #   opencv-python
    #   openvino
    #   openvino-dev
    #   ovmsclient
    #   pandas
    #   scikit-learn
    #   scipy
    #   soxr
    #   tensorboardx
opencv-python==4.7.0.72
    # via
    #   -r demos/common/python/requirements.txt
    #   -r demos/requirements.txt
    #   openvino-dev
openvino==2023.0.0
    # via openvino-dev
openvino-dev==2023.0.0
    # via -r ${INTEL_OPENVINO_DIR}/tools/requirements.txt
openvino-telemetry==2022.3.0
    # via openvino-dev
ovmsclient==2022.3
    # via -r demos/common/python/requirements_ovms.txt
packaging==23.1
    # via
    #   matplotlib
    #   nibabel
    #   pooch
    #   tensorboardx
pandas==2.0.2
    # via motmetrics
pillow==9.5.0
    # via
    #   -r demos/requirements.txt
    #   matplotlib
    #   openvino-dev
pooch==1.6.0
    # via librosa
protobuf==3.20.3
    # via
    #   ovmsclient
    #   tensorboardx
pycparser==2.21
    # via cffi
pydantic==1.10.8
    # via inflect
pyparsing==2.4.7
    # via
    #   -r demos/requirements.txt
    #   matplotlib
python-dateutil==2.8.2
    # via
    #   matplotlib
    #   pandas
pytz==2023.3
    # via pandas
pyyaml==6.0
    # via
    #   -r demos/requirements.txt
    #   openvino-dev
requests==2.31.0
    # via
    #   openvino-dev
    #   openvino-telemetry
    #   ovmsclient
    #   pooch
scikit-learn==1.2.2
    # via
    #   -r demos/requirements.txt
    #   librosa
scipy==1.10.1
    # via
    #   -r demos/common/python/requirements.txt
    #   -r demos/requirements.txt
    #   librosa
    #   motmetrics
    #   openvino-dev
    #   scikit-learn
six==1.16.0
    # via python-dateutil
soundfile==0.12.1
    # via librosa
soxr==0.3.5
    # via librosa
sympy==1.12
    # via -r demos/requirements.txt
tensorboardx==2.6
    # via -r demos/requirements.txt
texttable==1.6.7
    # via openvino-dev
threadpoolctl==3.1.0
    # via scikit-learn
tokenizers==0.13.3 ; python_version >= "3.7"
    # via -r demos/requirements.txt
tqdm==4.65.0
    # via
    #   -r demos/requirements.txt
    #   openvino-dev
typing-extensions==4.6.2
    # via
    #   librosa
    #   pydantic
tzdata==2023.3
    # via pandas
urllib3==2.0.2
    # via requests
xmltodict==0.13.0
    # via motmetrics
zipp==3.15.0
    # via
    #   importlib-metadata
    #   importlib-resources
