# use update-requirements.py to update this file

addict==2.4.0
    # via openvino-dev
certifi==2022.12.7
    # via requests
charset-normalizer==2.1.1
    # via requests
click==8.1.3
    # via nltk
defusedxml==0.7.1
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   openvino-dev
fast-ctc-decode==0.3.2
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
fastjsonschema==2.15.3
    # via openvino-dev
filelock==3.8.1
    # via
    #   huggingface-hub
    #   transformers
huggingface-hub==0.11.1
    # via transformers
idna==3.4
    # via requests
imagecodecs==2022.2.22 ; python_version >= "3.8"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
imageio==2.22.4
    # via scikit-image
joblib==1.2.0
    # via
    #   nltk
    #   scikit-learn
jstyleson==0.0.2
    # via openvino-dev
lmdb==1.3.0
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
networkx==2.8 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
    #   scikit-image
nibabel==4.0.2
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
nltk==3.7
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
numpy==1.23.1
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imagecodecs
    #   imageio
    #   nibabel
    #   opencv-python
    #   openvino
    #   openvino-dev
    #   pandas
    #   parasail
    #   pywavelets
    #   rawpy
    #   scikit-image
    #   scikit-learn
    #   scipy
    #   tifffile
    #   transformers
opencv-python==4.6.0.66
    # via openvino-dev
openvino==2022.2.0
    # via openvino-dev
openvino-dev[kaldi]==2022.2.0
    # via -r ${INTEL_OPENVINO_DIR}/tools/requirements_kaldi.txt
openvino-telemetry==2022.1.2
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   openvino-dev
packaging==21.3
    # via
    #   huggingface-hub
    #   nibabel
    #   scikit-image
    #   transformers
pandas==1.1.5
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
parasail==1.3.3 ; platform_system != "Windows"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pillow==9.3.0
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imageio
    #   openvino-dev
    #   scikit-image
progress==1.6
    # via openvino-dev
py-cpuinfo==9.0.0
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pyclipper==1.3.0.post4
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pydicom==2.3.1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pyparsing==3.0.9
    # via packaging
python-dateutil==2.8.2
    # via pandas
pytz==2022.6
    # via pandas
pywavelets==1.4.1
    # via scikit-image
pyyaml==6.0
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   huggingface-hub
    #   openvino-dev
    #   transformers
rawpy==0.17.3 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
regex==2022.10.31
    # via
    #   nltk
    #   transformers
requests==2.28.1
    # via
    #   huggingface-hub
    #   openvino-dev
    #   openvino-telemetry
    #   transformers
scikit-image==0.19.3 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
scikit-learn==0.24.2
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
scipy==1.8.0
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
    #   scikit-image
    #   scikit-learn
sentencepiece==0.1.97
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
shapely==1.8.5.post1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
six==1.16.0
    # via python-dateutil
texttable==1.6.7
    # via openvino-dev
threadpoolctl==3.1.0
    # via scikit-learn
tifffile==2022.10.10
    # via scikit-image
tokenizers==0.13.2 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
    #   transformers
tqdm==4.64.1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   huggingface-hub
    #   nltk
    #   openvino-dev
    #   transformers
transformers==4.25.1 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
typing-extensions==4.4.0
    # via huggingface-hub
urllib3==1.26.13
    # via requests

# The following packages are considered to be unsafe in a requirements file:
# setuptools
