# use update-requirements.py to update this file

bandit==1.7.4
    # via -r ci/requirements-check-basics.in
flake8==5.0.4
    # via
    #   -r ci/requirements-check-basics.in
    #   flake8-comprehensions
flake8-comprehensions==3.10.1
    # via -r ci/requirements-check-basics.in
gitdb==4.0.9
    # via gitpython
gitpython==3.1.29
    # via bandit
mccabe==0.7.0
    # via flake8
mistune==2.0.4
    # via -r ci/requirements-documentation.in
pathspec==0.10.2
    # via yamllint
pbr==5.11.0
    # via stevedore
pycodestyle==2.9.1
    # via flake8
pyflakes==2.5.0
    # via flake8
pyyaml==6.0
    # via
    #   -r ci/requirements-documentation.in
    #   bandit
    #   yamllint
smmap==5.0.0
    # via gitdb
stevedore==4.1.1
    # via bandit
yamllint==1.28.0
    # via -r ci/requirements-check-basics.in

# The following packages are considered to be unsafe in a requirements file:
# setuptools
