# use update-requirements.py to update this file

addict==2.4.0
    # via -r ci/requirements-openvino-dev.in
certifi==2022.12.7
    # via requests
charset-normalizer==3.1.0
    # via requests
defusedxml==0.7.1
    # via -r ci/requirements-openvino-dev.in
idna==3.4
    # via requests
importlib-metadata==6.1.0
    # via -r ci/requirements-openvino-dev.in
jstyleson==0.0.2
    # via -r ci/requirements-openvino-dev.in
networkx==2.8.8
    # via -r ci/requirements-openvino-dev.in
numpy==1.24.2
    # via
    #   -r ci/requirements-openvino-dev.in
    #   scipy
openvino-telemetry==2022.3.0
    # via -r ci/requirements-openvino-dev.in
pillow==9.4.0
    # via -r ci/requirements-openvino-dev.in
pyyaml==6.0
    # via -r ci/requirements-openvino-dev.in
requests==2.28.2
    # via
    #   -r ci/requirements-openvino-dev.in
    #   openvino-telemetry
scipy==1.10.1 ; python_version >= "3.8"
    # via -r ci/requirements-openvino-dev.in
texttable==1.6.7
    # via -r ci/requirements-openvino-dev.in
tqdm==4.65.0
    # via -r ci/requirements-openvino-dev.in
urllib3==1.26.15
    # via requests
zipp==3.15.0
    # via importlib-metadata
