# use update-requirements.py to update this file

certifi==2021.5.30
    # via requests
chardet==4.0.0
    # via requests
click==8.0.1
    # via
    #   nltk
    #   sacremoses
cycler==0.10.0
    # via matplotlib
dataclasses==0.8
    # via transformers
decorator==4.4.2
    # via networkx
defusedxml==0.7.1
    # via -r tools/accuracy_checker/requirements-core.in
editdistance==0.5.3
    # via -r tools/accuracy_checker/requirements.in
fast-ctc-decode==0.3.0
    # via -r tools/accuracy_checker/requirements.in
filelock==3.0.12
    # via
    #   huggingface-hub
    #   transformers
huggingface-hub==0.0.12
    # via transformers
idna==2.10
    # via requests
imagecodecs==2020.5.30 ; python_version < "3.7"
    # via -r tools/accuracy_checker/requirements.in
imageio==2.9.0
    # via scikit-image
importlib-metadata==4.6.0
    # via
    #   click
    #   huggingface-hub
    #   transformers
joblib==1.0.1
    # via
    #   nltk
    #   sacremoses
    #   scikit-learn
kiwisolver==1.3.1
    # via matplotlib
lmdb==1.2.1
    # via -r tools/accuracy_checker/requirements.in
matplotlib==3.3.4
    # via scikit-image
networkx==2.5.1
    # via scikit-image
nibabel==3.2.1
    # via -r tools/accuracy_checker/requirements.in
nltk==3.6.2
    # via -r tools/accuracy_checker/requirements.in
numpy==1.19.5
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imagecodecs
    #   imageio
    #   matplotlib
    #   nibabel
    #   pandas
    #   parasail
    #   pywavelets
    #   rawpy
    #   scikit-image
    #   scikit-learn
    #   scipy
    #   tifffile
    #   transformers
packaging==20.9
    # via
    #   huggingface-hub
    #   nibabel
    #   transformers
pandas==1.1.5
    # via -r tools/accuracy_checker/requirements.in
parasail==1.2.4
    # via -r tools/accuracy_checker/requirements.in
pillow==8.2.0
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imageio
    #   matplotlib
    #   scikit-image
py-cpuinfo==8.0.0
    # via -r tools/accuracy_checker/requirements.in
pyclipper==1.3.0
    # via -r tools/accuracy_checker/requirements.in
pydicom==2.1.2
    # via -r tools/accuracy_checker/requirements.in
pyparsing==2.4.7
    # via
    #   matplotlib
    #   packaging
python-dateutil==2.8.1
    # via
    #   matplotlib
    #   pandas
pytz==2021.1
    # via pandas
pywavelets==1.1.1
    # via scikit-image
pyyaml==5.4.1
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   transformers
rawpy==0.16.0
    # via -r tools/accuracy_checker/requirements.in
regex==2021.4.4
    # via
    #   nltk
    #   sacremoses
    #   transformers
requests==2.25.1
    # via
    #   huggingface-hub
    #   transformers
sacremoses==0.0.45
    # via transformers
scikit-image==0.17.2
    # via -r tools/accuracy_checker/requirements.in
scikit-learn==0.24.2
    # via -r tools/accuracy_checker/requirements.in
scipy==1.5.4
    # via
    #   -r tools/accuracy_checker/requirements.in
    #   scikit-image
    #   scikit-learn
sentencepiece==0.1.96
    # via -r tools/accuracy_checker/requirements.in
shapely==1.7.1
    # via -r tools/accuracy_checker/requirements.in
six==1.16.0
    # via
    #   python-dateutil
    #   sacremoses
threadpoolctl==2.1.0
    # via scikit-learn
tifffile==2020.9.3
    # via scikit-image
tokenizers==0.10.3
    # via
    #   -r tools/accuracy_checker/requirements.in
    #   transformers
tqdm==4.61.1
    # via
    #   -r tools/accuracy_checker/requirements.in
    #   huggingface-hub
    #   nltk
    #   sacremoses
    #   transformers
transformers==4.8.1
    # via -r tools/accuracy_checker/requirements.in
typing-extensions==3.10.0.0
    # via
    #   huggingface-hub
    #   importlib-metadata
urllib3==1.26.6
    # via requests
zipp==3.4.1
    # via importlib-metadata
