# use update-requirements.py to update this file

bandit==1.7.0
    # via -r ci/requirements-check-basics.in
colorama==0.4.4
    # via bandit
flake8==3.9.2
    # via
    #   -r ci/requirements-check-basics.in
    #   flake8-comprehensions
flake8-comprehensions==3.6.1
    # via -r ci/requirements-check-basics.in
gitdb==4.0.7
    # via gitpython
gitpython==3.1.18
    # via bandit
importlib-metadata==4.8.1
    # via
    #   flake8
    #   flake8-comprehensions
    #   stevedore
mccabe==0.6.1
    # via flake8
mistune==2.0.0a6
    # via -r ci/requirements-documentation.in
pathspec==0.9.0
    # via yamllint
pbr==5.6.0
    # via stevedore
pycodestyle==2.7.0
    # via flake8
pyflakes==2.3.1
    # via flake8
pyyaml==5.4.1
    # via
    #   -r ci/requirements-documentation.in
    #   bandit
    #   yamllint
six==1.16.0
    # via bandit
smmap==4.0.0
    # via gitdb
stevedore==3.4.0
    # via bandit
typing-extensions==3.10.0.2
    # via
    #   gitpython
    #   importlib-metadata
yamllint==1.26.3
    # via -r ci/requirements-check-basics.in
zipp==3.5.0
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# setuptools
