addict (>=2.4.0)
defusedxml (>=0.7.1)
defusedxml (>=0.7.1) ; extra == 'caffe'
defusedxml (>=0.7.1) ; extra == 'kaldi'
defusedxml (>=0.7.1) ; extra == 'mxnet'
defusedxml (>=0.7.1) ; extra == 'onnx'
defusedxml (>=0.7.1) ; extra == 'tensorflow'
defusedxml (>=0.7.1) ; extra == 'tensorflow2'
fastjsonschema (<2.17,>=2.15.1) ; extra == 'caffe'
fastjsonschema (<2.17,>=2.15.1) ; extra == 'kaldi'
fastjsonschema (<2.17,>=2.15.1) ; extra == 'mxnet'
fastjsonschema (<2.17,>=2.15.1) ; extra == 'onnx'
fastjsonschema (<2.17,>=2.15.1) ; extra == 'tensorflow'
fastjsonschema (<2.17,>=2.15.1) ; extra == 'tensorflow2'
importlib-metadata
jstyleson (>=0.0.2)
mxnet (<=1.9.1,>=1.7.0.post2) ; (sys_platform != "win32") and extra == 'mxnet'
mxnet (~=1.2.0) ; (sys_platform == "win32") and extra == 'mxnet'
networkx (<=2.8.8)
networkx (<=2.8.8) ; extra == 'caffe'
networkx (<=2.8.8) ; extra == 'kaldi'
networkx (<=2.8.8) ; extra == 'mxnet'
networkx (<=2.8.8) ; extra == 'onnx'
networkx (<=2.8.8) ; extra == 'tensorflow'
networkx (<=2.8.8) ; extra == 'tensorflow2'
numpy (<1.25.0,>=1.16.6) ; extra == 'caffe'
numpy (<1.25.0,>=1.16.6) ; extra == 'kaldi'
numpy (<1.25.0,>=1.16.6) ; extra == 'mxnet'
numpy (<1.25.0,>=1.16.6) ; extra == 'onnx'
numpy (<1.25.0,>=1.16.6) ; extra == 'tensorflow'
numpy (<1.25.0,>=1.16.6) ; extra == 'tensorflow2'
numpy (>=1.16.6)
onnx (<=1.12,>=1.8.1) ; extra == 'pytorch'
onnx (<=1.13.1,>=1.8.1) ; extra == 'onnx'
openvino-telemetry
openvino-telemetry (>=2022.1.0)
paddlepaddle (>=2.2.0) ; extra == 'paddle'
pillow (>=8.1.2)
protobuf (<4.0.0,>=3.18.1) ; extra == 'caffe'
protobuf (<4.0.0,>=3.18.1) ; extra == 'onnx'
pyyaml (>=5.4.1)
requests (>=2.25.1)
requests (>=2.25.1) ; extra == 'caffe'
requests (>=2.25.1) ; extra == 'kaldi'
requests (>=2.25.1) ; extra == 'mxnet'
requests (>=2.25.1) ; extra == 'onnx'
requests (>=2.25.1) ; extra == 'tensorflow'
requests (>=2.25.1) ; extra == 'tensorflow2'
scipy (<1.9.0,>=1.5.4) ; extra == 'pytorch'
scipy (>=1.8) ; python_version >= "3.8"
scipy (~=1.7) ; python_version == "3.7"
tensorflow (<2.13.0,>=1.15.5) ; extra == 'tensorflow'
tensorflow (<2.13.0,>=2.5) ; extra == 'tensorflow2'
tensorflow (<=2.9.3,>=2.5) ; extra == 'tensorflow2'
texttable (>=1.6.3)
torch (<=1.13.0,>=1.8.1) ; extra == 'pytorch'
torchvision (<=0.14.0,>=0.9.1) ; extra == 'pytorch'
tqdm (>=4.54.1)
urllib3 (>=1.26.4) ; extra == 'mxnet'
yacs (>=0.1.8) ; extra == 'pytorch'
