# use update-requirements.py to update this file

appdirs==1.4.4
    # via pooch
attrs==21.2.0
    # via pytest
audioread==2.1.9
    # via librosa
certifi==2021.5.30
    # via requests
cffi==1.14.6
    # via soundfile
charset-normalizer==2.0.4
    # via requests
cycler==0.10.0
    # via matplotlib
decorator==5.0.9
    # via librosa
flake8==3.9.2
    # via motmetrics
flake8-import-order==0.18.1
    # via motmetrics
idna==3.2
    # via requests
importlib-metadata==4.8.1
    # via
    #   flake8
    #   pluggy
    #   pytest
iniconfig==1.1.1
    # via pytest
joblib==1.0.1
    # via
    #   librosa
    #   scikit-learn
kiwisolver==1.3.1
    # via matplotlib
librosa==0.8.1
    # via -r demos/requirements.txt
llvmlite==0.36.0
    # via numba
matplotlib==3.3.4
    # via -r demos/requirements.txt
mccabe==0.6.1
    # via flake8
motmetrics==1.2.0
    # via -r demos/requirements.txt
mpmath==1.2.1
    # via sympy
nibabel==3.2.1
    # via -r demos/requirements.txt
numba==0.53.1
    # via
    #   librosa
    #   resampy
numpy==1.19.5
    # via
    #   -r ${INTEL_OPENVINO_DIR}/python/requirements.txt
    #   -r demos/requirements.txt
    #   librosa
    #   matplotlib
    #   motmetrics
    #   nibabel
    #   numba
    #   pandas
    #   resampy
    #   scikit-learn
    #   scipy
    #   tensorboardx
packaging==21.0
    # via
    #   librosa
    #   nibabel
    #   pooch
    #   pytest
pandas==1.1.5
    # via motmetrics
pillow==8.3.2
    # via matplotlib
pluggy==1.0.0
    # via pytest
pooch==1.5.1
    # via librosa
protobuf==3.17.3
    # via tensorboardx
py==1.10.0
    # via pytest
py-cpuinfo==8.0.0
    # via pytest-benchmark
pycodestyle==2.7.0
    # via
    #   flake8
    #   flake8-import-order
pycparser==2.20
    # via cffi
pyflakes==2.3.1
    # via flake8
pyparsing==2.4.7
    # via
    #   matplotlib
    #   packaging
pytest==6.2.5
    # via
    #   motmetrics
    #   pytest-benchmark
pytest-benchmark==3.4.1
    # via motmetrics
python-dateutil==2.8.2
    # via
    #   matplotlib
    #   pandas
pytz==2021.1
    # via pandas
requests==2.26.0
    # via pooch
resampy==0.2.2
    # via librosa
scikit-learn==0.24.2
    # via
    #   -r demos/requirements.txt
    #   librosa
scipy==1.5.4
    # via
    #   -r demos/requirements.txt
    #   librosa
    #   motmetrics
    #   resampy
    #   scikit-learn
six==1.16.0
    # via
    #   cycler
    #   protobuf
    #   python-dateutil
    #   resampy
soundfile==0.10.3.post1
    # via librosa
sympy==1.8
    # via -r demos/requirements.txt
tensorboardx==2.4
    # via -r demos/requirements.txt
threadpoolctl==2.2.0
    # via scikit-learn
tokenizers==0.10.3
    # via -r demos/requirements.txt
toml==0.10.2
    # via pytest
tqdm==4.62.2
    # via -r demos/requirements.txt
typing-extensions==3.10.0.2
    # via importlib-metadata
urllib3==1.26.6
    # via requests
xmltodict==0.12.0
    # via motmetrics
zipp==3.5.0
    # via importlib-metadata
inflect==5.3.0

# The following packages are considered to be unsafe in a requirements file:
# setuptools
