# use update-requirements.py to update this file

certifi==2021.5.30
    # via requests
charset-normalizer==2.0.4
    # via requests
idna==3.2
    # via requests
pyyaml==5.4.1
    # via -r tools/model_tools/requirements.in
requests==2.26.0
    # via -r tools/model_tools/requirements.in
urllib3==1.26.6
    # via requests
