# use update-requirements.py to update this file

certifi==2020.6.20        # via requests
chardet==3.0.4            # via requests
idna==2.10                # via requests
pyyaml==5.3.1             # via -r tools/downloader/requirements.in
requests==2.24.0          # via -r tools/downloader/requirements.in
urllib3==1.25.9           # via requests
