# use update-requirements.py to update this file

addict==2.4.0
    # via openvino-dev
certifi==2021.5.30
    # via requests
charset-normalizer==2.0.4
    # via requests
click==8.0.1
    # via
    #   nltk
    #   sacremoses
decorator==4.4.2
    # via networkx
defusedxml==0.7.1
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   openvino-dev
fast-ctc-decode==0.3.0
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
fastjsonschema==2.15.3
    # via openvino-dev
filelock==3.0.12
    # via
    #   huggingface-hub
    #   transformers
huggingface-hub==0.0.16
    # via transformers
idna==3.2
    # via requests
imagecodecs==2022.2.22 ; python_version >= "3.8"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
imageio==2.9.0
    # via scikit-image
joblib==1.0.1
    # via
    #   nltk
    #   sacremoses
    #   scikit-learn
jstyleson==0.0.2
    # via openvino-dev
lmdb==1.2.1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
networkx==2.5.1 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
    #   scikit-image
nibabel==3.2.1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
nltk==3.6.2
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
numpy==1.19.5
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imagecodecs
    #   imageio
    #   nibabel
    #   opencv-python
    #   openvino
    #   openvino-dev
    #   pandas
    #   parasail
    #   pywavelets
    #   rawpy
    #   scikit-image
    #   scikit-learn
    #   scipy
    #   tifffile
    #   transformers
opencv-python==4.6.0.66
    # via openvino-dev
openvino==2022.2.0
    # via openvino-dev
openvino-dev[kaldi]==2022.2.0
    # via -r ${INTEL_OPENVINO_DIR}/tools/requirements_kaldi.txt
openvino-telemetry==2022.1.0
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   openvino-dev
packaging==21.0
    # via
    #   huggingface-hub
    #   nibabel
    #   scikit-image
    #   transformers
pandas==1.1.5
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
parasail==1.2.4 ; platform_system != "Windows"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pillow==8.3.2
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   imageio
    #   openvino-dev
    #   scikit-image
progress==1.6
    # via openvino-dev
py-cpuinfo==8.0.0
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pyclipper==1.3.0
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pydicom==2.2.1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
pyparsing==2.4.7
    # via packaging
python-dateutil==2.8.2
    # via pandas
pytz==2021.1
    # via pandas
pywavelets==1.1.1
    # via scikit-image
pyyaml==5.4.1
    # via
    #   -r tools/accuracy_checker/requirements-core.in
    #   openvino-dev
    #   transformers
rawpy==0.17.2 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
regex==2021.8.28
    # via
    #   nltk
    #   sacremoses
    #   transformers
requests==2.26.0
    # via
    #   huggingface-hub
    #   openvino-dev
    #   openvino-telemetry
    #   transformers
sacremoses==0.0.45
    # via transformers
scikit-image==0.19.3 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
scikit-learn==0.24.2
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
scipy==1.5.4
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
    #   scikit-image
    #   scikit-learn
sentencepiece==0.1.96
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
shapely==1.7.1
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
six==1.16.0
    # via
    #   python-dateutil
    #   sacremoses
texttable==1.6.4
    # via openvino-dev
threadpoolctl==2.2.0
    # via scikit-learn
tifffile==2020.9.3
    # via scikit-image
tokenizers==0.10.3 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
    #   transformers
tqdm==4.62.2
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   huggingface-hub
    #   nltk
    #   openvino-dev
    #   sacremoses
    #   transformers
transformers==4.10.0 ; python_version >= "3.7"
    # via
    #   -r tools/accuracy_checker/requirements-extra.in
    #   openvino-dev
typing-extensions==3.10.0.2
    # via huggingface-hub
urllib3==1.26.6
    # via requests
