# use update-requirements.py to update this file

absl-py==1.3.0
    # via
    #   tensorboard
    #   tensorflow
addict==2.4.0
    # via openvino-dev
astor==0.8.1
    # via paddlepaddle
astunparse==1.6.3
    # via tensorflow
cachetools==5.2.0
    # via google-auth
certifi==2022.12.7
    # via requests
charset-normalizer==2.1.1
    # via requests
decorator==5.1.1
    # via paddlepaddle
defusedxml==0.7.1
    # via openvino-dev
fastjsonschema==2.15.3
    # via openvino-dev
flatbuffers==1.12
    # via tensorflow
gast==0.4.0
    # via tensorflow
google-auth==2.15.0
    # via
    #   google-auth-oauthlib
    #   tensorboard
google-auth-oauthlib==0.4.6
    # via tensorboard
google-pasta==0.2.0
    # via tensorflow
graphviz==0.8.4
    # via mxnet
grpcio==1.51.1
    # via
    #   tensorboard
    #   tensorflow
h5py==3.7.0
    # via tensorflow
idna==3.4
    # via requests
importlib-metadata==5.2.0
    # via markdown
jstyleson==0.0.2
    # via openvino-dev
keras==2.9.0
    # via tensorflow
keras-preprocessing==1.1.2
    # via tensorflow
libclang==14.0.6
    # via tensorflow
markdown==3.4.1
    # via tensorboard
markupsafe==2.1.1
    # via werkzeug
mxnet==1.9.1
    # via openvino-dev
networkx==2.8.8
    # via openvino-dev
numpy==1.23.4
    # via
    #   h5py
    #   keras-preprocessing
    #   mxnet
    #   onnx
    #   opencv-python
    #   openvino
    #   openvino-dev
    #   opt-einsum
    #   paddlepaddle
    #   pandas
    #   scipy
    #   tensorboard
    #   tensorflow
    #   torchvision
nvidia-cublas-cu11==11.10.3.66
    # via
    #   nvidia-cudnn-cu11
    #   torch
nvidia-cuda-nvrtc-cu11==11.7.99
    # via torch
nvidia-cuda-runtime-cu11==11.7.99
    # via torch
nvidia-cudnn-cu11==8.5.0.96
    # via torch
oauthlib==3.2.2
    # via requests-oauthlib
onnx==1.12.0
    # via
    #   -r tools/model_tools/requirements-pytorch.in
    #   openvino-dev
opencv-python==4.7.0.68
    # via openvino-dev
openvino==2022.3.0
    # via openvino-dev
openvino-dev[caffe,mxnet,onnx,tensorflow2]==2022.3.0
    # via
    #   -r ${INTEL_OPENVINO_DIR}/tools/requirements_caffe.txt
    #   -r ${INTEL_OPENVINO_DIR}/tools/requirements_mxnet.txt
    #   -r ${INTEL_OPENVINO_DIR}/tools/requirements_onnx.txt
    #   -r ${INTEL_OPENVINO_DIR}/tools/requirements_tensorflow2.txt
openvino-telemetry==2022.3.0
    # via openvino-dev
opt-einsum==3.3.0
    # via
    #   paddlepaddle
    #   tensorflow
packaging==22.0
    # via tensorflow
paddle-bfloat==0.1.7
    # via paddlepaddle
paddlepaddle==2.4.1
    # via -r tools/model_tools/requirements-paddle.in
pandas==1.3.5
    # via openvino-dev
pillow==9.3.0
    # via
    #   openvino-dev
    #   paddlepaddle
    #   torchvision
protobuf==3.19.6
    # via
    #   onnx
    #   openvino-dev
    #   paddlepaddle
    #   tensorboard
    #   tensorflow
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
python-dateutil==2.8.2
    # via pandas
pytz==2022.7
    # via pandas
pyyaml==6.0
    # via
    #   openvino-dev
    #   yacs
requests==2.28.1
    # via
    #   mxnet
    #   openvino-dev
    #   openvino-telemetry
    #   paddlepaddle
    #   requests-oauthlib
    #   tensorboard
    #   torchvision
requests-oauthlib==1.3.1
    # via google-auth-oauthlib
rsa==4.9
    # via google-auth
scipy==1.9.3
    # via
    #   -r tools/model_tools/requirements-pytorch.in
    #   openvino-dev
six==1.16.0
    # via
    #   astunparse
    #   google-auth
    #   google-pasta
    #   keras-preprocessing
    #   paddlepaddle
    #   python-dateutil
    #   tensorflow
tensorboard==2.9.1
    # via tensorflow
tensorboard-data-server==0.6.1
    # via tensorboard
tensorboard-plugin-wit==1.8.1
    # via tensorboard
tensorflow==2.9.3
    # via
    #   -r tools/model_tools/requirements-tensorflow.in
    #   openvino-dev
tensorflow-estimator==2.9.0
    # via tensorflow
tensorflow-io-gcs-filesystem==0.29.0
    # via tensorflow
termcolor==2.1.1
    # via tensorflow
texttable==1.6.7
    # via openvino-dev
torch==1.13.0
    # via
    #   -r tools/model_tools/requirements-pytorch.in
    #   torchvision
torchvision==0.14.0
    # via -r tools/model_tools/requirements-pytorch.in
tqdm==4.64.1
    # via openvino-dev
typing-extensions==4.4.0
    # via
    #   onnx
    #   tensorflow
    #   torch
    #   torchvision
urllib3==1.26.13
    # via
    #   openvino-dev
    #   requests
werkzeug==2.2.2
    # via tensorboard
wheel==0.38.4
    # via
    #   astunparse
    #   nvidia-cublas-cu11
    #   nvidia-cuda-runtime-cu11
    #   tensorboard
wrapt==1.14.1
    # via tensorflow
yacs==0.1.8
    # via -r tools/model_tools/requirements-pytorch.in
zipp==3.11.0
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# setuptools
