PyYAML (>=5.4.1)
addict (>=2.4.0)
defusedxml (>=0.7.1)
defusedxml (>=0.7.1) ; extra == 'caffe'
defusedxml (>=0.7.1) ; extra == 'kaldi'
defusedxml (>=0.7.1) ; extra == 'mxnet'
defusedxml (>=0.7.1) ; extra == 'onnx'
defusedxml (>=0.7.1) ; extra == 'tensorflow'
defusedxml (>=0.7.1) ; extra == 'tensorflow2'
editdistance (>=0.5.3)
fast-ctc-decode (>=0.2.5)
future (>=0.18.2) ; extra == 'caffe2'
hyperopt (~=0.1.2)
jstyleson (~=0.0.2)
mxnet (~=1.2.0) ; (sys_platform == "win32") and extra == 'mxnet'
mxnet (~=1.7.0.post2) ; (sys_platform != "win32") and extra == 'mxnet'
networkx (~=2.5)
networkx (~=2.5) ; extra == 'caffe'
networkx (~=2.5) ; extra == 'kaldi'
networkx (~=2.5) ; extra == 'mxnet'
networkx (~=2.5) ; extra == 'onnx'
networkx (~=2.5) ; extra == 'tensorflow'
networkx (~=2.5) ; extra == 'tensorflow2'
nibabel (>=3.2.1)
nltk (>=3.5)
numpy (<1.19,>=1.16.6) ; extra == 'tensorflow'
numpy (<1.20,>=1.16.6)
numpy (<1.20,>=1.16.6) ; extra == 'caffe'
numpy (<1.20,>=1.16.6) ; extra == 'kaldi'
numpy (<1.20,>=1.16.6) ; extra == 'mxnet'
numpy (<1.20,>=1.16.6) ; extra == 'onnx'
numpy (<1.20,>=1.16.6) ; extra == 'tensorflow2'
onnx (>=1.8.1) ; extra == 'caffe2'
onnx (>=1.8.1) ; extra == 'onnx'
onnx (>=1.8.1) ; extra == 'pytorch'
opencv-python (==4.5.*)
openvino (==2021.4.2)
pandas (~=1.1.5)
parasail (>=1.2.4)
pillow (>=8.1.2)
progress (>=1.5)
protobuf (>=3.15.6) ; extra == 'caffe'
py-cpuinfo (>=7.0.0)
pydicom (>=2.1.2)
pyyaml (>=5.4.1)
rawpy (>=0.16.0)
requests (>=2.25.1)
requests (>=2.25.1) ; extra == 'caffe'
requests (>=2.25.1) ; extra == 'kaldi'
requests (>=2.25.1) ; extra == 'mxnet'
requests (>=2.25.1) ; extra == 'onnx'
requests (>=2.25.1) ; extra == 'tensorflow'
requests (>=2.25.1) ; extra == 'tensorflow2'
scikit-image (>=0.17.2)
scikit-learn (>=0.24.1)
scipy (~=1.5.4)
scipy (~=1.5.4) ; extra == 'pytorch'
sentencepiece (>=0.1.95)
shapely (>=1.7.1)
tensorflow (~=1.15.5) ; extra == 'tensorflow'
tensorflow (~=2.4.1) ; extra == 'tensorflow2'
texttable (~=1.6.3)
tokenizers (>=0.10.1)
torch (==1.8.1) ; extra == 'caffe2'
torch (==1.8.1) ; extra == 'pytorch'
torchvision (==0.9.1) ; extra == 'pytorch'
tqdm (>=4.54.1)
urllib3 (>=1.26.4) ; extra == 'mxnet'
yacs (>=0.1.8) ; extra == 'pytorch'
yamlloader (>=0.5)
