models:
  - name:  ssdlite_mobilenet_v2
    launchers:
      - framework: dlsdk
        tags:
          - FP32
        model:   public/ssdlite_mobilenet_v2/FP32/ssdlite_mobilenet_v2.xml
        weights: public/ssdlite_mobilenet_v2/FP32/ssdlite_mobilenet_v2.bin
        adapter: ssd

      - framework: dlsdk
        tags:
          - FP16
        model:   public/ssdlite_mobilenet_v2/FP16/ssdlite_mobilenet_v2.xml
        weights: public/ssdlite_mobilenet_v2/FP16/ssdlite_mobilenet_v2.bin
        adapter: ssd

    datasets:
      - name: ms_coco_detection_91_classes
        preprocessing:
          - type: resize
            size: 300
        postprocessing:
          - type: resize_prediction_boxes
        metrics:
          - type: coco_precision
