name: github-actions
on: pull_request
permissions: read-all  # https://github.com/ossf/scorecard/blob/e23b8ad91fd6a64a0a971ca4fc0a4d1650725615/docs/checks.md#token-permissions
jobs:
  accuracy_checker:
    strategy:
      matrix:
        runs-on: [ubuntu-20.04, ubuntu-22.04]
        python-version: [3.9, '3.10']
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pip install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tools/accuracy_checker openvino -r tools/accuracy_checker/requirements-test.in
      - name: python -m pytest tools/accuracy_checker
        run: |
          python -m pytest tools/accuracy_checker
      - name: Pip install and run pylint
        working-directory: ./tools/accuracy_checker
        run: |
          python -m pip install pylint==2.10.2
          PYTHONPATH=. python -m pylint --rcfile=.pylintrc `find -wholename '?*/**/*.py' -not -path "./tests/*" -not -path "./build/*"`

  check-basics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with: {python-version: 3.12}
      - run: python -m pip install -r ./ci/requirements-check-basics.in -r ./ci/requirements-documentation.in
      - run: python ./ci/check-basics.py
      - run: python ./ci/prepare-documentation.py ./prepared-documentation
